<section id="eventi">

  <div class="events" id="events">
    <div class="events__title">EVENTI</div>
    <div class="events__container">

      <div class="event__container">
        <div class="event__image"><img src="{{ relativePath }}img/events/img-prova.png" alt=""></div>
        <div class="event__date">23 Maggio 2018</div>
        <div class="event__title">Progettare e far evolvere strutture in AWS</div>
        <div class="event__place">Teatro Sarti, via Biasola 5, Faenza, RA (Italy)</div>
        <a href="#" class="event__open">OPEN</a>
      </div>

      <div class="event__container">
        <div class="event__image"><img src="{{ relativePath }}img/events/img-prova.png" alt=""></div>
        <div class="event__date">23 Maggio 2018</div>
        <div class="event__title">Progettare e far evolvere strutture in AWS</div>
        <div class="event__place">Teatro Sarti, via Biasola 5, Faenza, RA (Italy)</div>
        <a href="#" class="event__open">OPEN</a>
      </div>

      <div class="event__container">
        <div class="event__image"><img src="{{ relativePath }}img/events/img-prova.png" alt=""></div>
        <div class="event__date">23 Maggio 2018</div>
        <div class="event__title">Progettare e far evolvere strutture in AWS</div>
        <div class="event__place">Teatro Sarti, via Biasola 5, Faenza, RA (Italy)</div>
        <a href="#" class="event__open">OPEN</a>
      </div>

      <div class="event__container">
        <div class="event__image"><img src="{{ relativePath }}img/events/img-prova.png" alt=""></div>
        <div class="event__date">23 Maggio 2018</div>
        <div class="event__title">Progettare e far evolvere strutture in AWS</div>
        <div class="event__place">Teatro Sarti, via Biasola 5, Faenza, RA (Italy)</div>
        <a href="#" class="event__open">OPEN</a>
      </div>

      <div class="event__container">
        <div class="event__image"><img src="{{ relativePath }}img/events/img-prova.png" alt=""></div>
        <div class="event__date">23 Maggio 2018</div>
        <div class="event__title">Progettare e far evolvere strutture in AWS</div>
        <div class="event__place">Teatro Sarti, via Biasola 5, Faenza, RA (Italy)</div>
        <a href="#" class="event__open">OPEN</a>
      </div>

    </div>
  </div>

</section>
