<section id="eventi" class="container">

  <div class="events" id="events">
    <div class="events__title">EVENTI</div>
    <div class="events__container">

      {% for event in metadata.events.list %}
        {% if  event.link is defined %}
        <a class="event__container" href="{{ event.link }}" target="_blank">
        {% else %}
        <div class="event__container">
        {% endif %}
          <div class="event__upper">
            <div class="event__image">
              {% if  event.image is defined %}
              <img src="{{ relativePath }}img/events/{{ event.image }}">
              {% else %}
              <img src="{{ relativePath }}img/events/default.png">
              {% endif %}
            </div>
            {% if  event.date is defined %}
              <div class="event__date">{{ event.date|date('Y M d') }}</div>
            {% endif %}
            {% if  event.title is defined %}
              <div class="event__title">{{ event.title }}</div>
            {% endif %}
            {% if  event.description is defined %}
            <div class="event__description">{{ event.description }}</div>
            {% endif %}
          </div>

          <div class="event__place">
            {{ event.venue }}{% if  event.city is defined %}, {{ event.city }}{% endif %}
          </div>
        {% if  event.link is defined %}
        </a>
        {% else %}
        </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>

</section>
