<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% if metadata.site.title is defined %}
        {{ metadata.site.title }} -
        {% if title is defined %}
          {{ title }}
        {% else %}
          4DevOps - Una soluzione DevOps ai problemi della tua azienda
        {% endif %}
      {% endif %}
    </title>

    <link rel="stylesheet" href="{{ relativePath }}vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ relativePath }}vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ relativePath }}css/freelancer.css">
    <link rel="stylesheet" href="{{ relativePath }}css/style.css">
    <link rel="stylesheet" href="{{ relativePath }}css/responsive.css">

    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <link href="{{ relativePath }}img/favicon/safari-mask-icon.svg" rel="mask-icon" color="#262626">

    <link href="{{ relativePath }}img/favicon/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
    <link href="{{ relativePath }}img/favicon/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
    <link href="{{ relativePath }}img/favicon/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="{{ relativePath }}img/favicon/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="{{ relativePath }}img/favicon/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="{{ relativePath }}img/favicon/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="{{ relativePath }}img/favicon/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="{{ relativePath }}img/favicon/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="{{ relativePath }}img/favicon/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="{{ relativePath }}img/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="{{ relativePath }}img/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="{{ relativePath }}img/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
    <link href="{{ relativePath }}img/favicon/favicon-160x160.png" rel="icon" sizes="160x160" type="image/png">
    <link href="{{ relativePath }}img/favicon/favicon-196x196.png" rel="icon" sizes="196x196" type="image/png">
    <meta content="#2C3E50" name="msapplication-TileColor">
    <meta content="{{ relativePath }}img/favicon/mstile-144x144.png" name="msapplication-TileImage">
</head>
