<header {% if image is defined %} class="course-image" style="background-image:url('{{ image }}');" {% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {% if image is defined %}
        <div class="intro-text">
          <hr class="star-light">
          {% if isCourse %}
          <h1 class="course-title">
            {{ title }}
          </h1>
          {% else %}
          <span class="skills">
            {{ title }}
          </span>
          {% endif %}
          <div class="level-container">
            Livello <span class="level level--{{ level|lower }}">{{ level|lower }}</span>
          </div>
        </div>
        {% else %}
        <img class="img-responsive logo" src="{{ relativePath }}img/logo.png" alt="">
        <div class="intro-text">
          <hr class="star-light">
          <span class="skills">
            Una soluzione DevOps ai problemi della tua azienda
          </span>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>
