<!DOCTYPE html>
<html lang="en">

{% set uid = [] %}
{% for i in 1..16 %}
    {% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
    {% set alphaUpper = alpha|upper %}
    {% set numbers = '0123456789' %}
    {% set randomCharacter = random(alpha ~ alphaUpper ~ numbers ~ '-_') %}
    {% set uid = uid|merge([randomCharacter]) %}
{% endfor %}
{% set uid = ('?v=' ~ uid|join) %}

{% include './_head.twig' %}

<body id="page-top">

    {% include './_navbar.twig' %}
    {% if image %}
      {% include './_header.twig' with { image: (relativePath ~ 'img/courses/' ~ image), isCourse: true} %}
    {% else %}
      {% include './_header.twig' with { image: (relativePath ~ 'img/courses/default.png'), isCourse: true } %}
    {% endif %}

    <div class="container">
      <div class="row course-details">
        <div class="col-lg-6">
          <ul class="course-detail">
            {% if location %}
            <li class="course-detail__item">
              <strong class="course-detail__title">Dove</strong>
              <i class="fa fa-map-marker course-detail__icon"></i>
              <a href="https://www.google.it/maps/place/{{ location|replace({ ' ': '+' }) }}" target="_blank">{{ location }}</a>
            </li>
            {% endif %}
            {% if duration %}
            <li class="course-detail__item">
              <strong class="course-detail__title">Durata</strong>
              <i class="fa fa-clock-o course-detail__icon"></i>
              {{ duration }}
            </li>
            {% endif %}
            {% if participants %}
            <li class="course-detail__item">
              <strong class="course-detail__title">Partecipanti</strong>
              <i class="fa fa-group course-detail__icon"></i>
              {{ participants }}
            </li>
            {% endif %}
            <li class="course-detail__item">
              <strong class="course-detail__title">Per info via e-mail</strong>
              <a class="course-buy-ticket course-buy-ticket--contact" href="mailto:{{ metadata.site.email }}?subject=Richiesta info per corso: {{ title }}">Scrivici</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul class="course-detail">
            {% if soldOut %}
            <li class="course-detail__item">
              <strong class="course-detail__title">Biglietti</strong>
              <strong class="course-sold-out">Esauriti</strong>
            </li>
            {% else %}
              {% if tickets %}
                <li class="course-detail__item">
                  <strong class="course-detail__title">Biglietti</strong>
                  <a class="course-buy-ticket" href="{% if tickets is defined %}{{ tickets }}{% else %}mailto:{{ metadata.site.email }}?subject=Richiesta biglietto per corso: {{ title }}{% endif %}">Acquista</a>
                </li>
              {% endif %}
            {% endif %}
            {% if price %}
            <li class="course-detail__item">
              <strong class="course-detail__title">Prezzo</strong>
              {{ price }}
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <hr class="hr">
    </div>

    {% if teacherBio and teacherName %}
    <div class="container">
      <div class="teacher">
        <div class="teacher__avatar">
          {% if teacherImage %}
            <img class="teacher__image" src="{{ relativePath }}img/teachers/{{ teacherImage }}">
          {% else %}
            <img class="teacher__image" src="{{ relativePath }}img/teachers/default.jpg">
          {% endif %}
        </div>
        <div class="teacher__details">
          {% if teacherUrl %}
            <a class="teacher__name" href="{{ teacherUrl }}">
              {{ teacherName }}
            </a>
          {% else %}
            <div class="teacher__name">
              {{ teacherName }}
            </div>
          {% endif %}
          <p>{{ teacherBio }}</p>
        </div>
      </div>
      <hr class="hr">
    </div>
    {% endif %}

    {% if contents|trim != '' %}
    <div class="container">
      <h3>Dettagli corso</h3>
      {{ contents }}
      <hr class="hr hr--big">
    </div>
    {% endif %}

    {% include './_courses.twig' %}
    <div class="container">
      <hr class="hr hr--big">
    </div>
    {% include './_contacts.twig' %}

    {% include './_footer.twig' %}
    {% include './_scripts.twig' %}
</body>

</html>
